<header class="main-header">

  <div class="container">
    <div class="logo-block">
      <img src="images/logo.svg" alt="Компания Бетон плюс" width="160" height="44">
    </div>

    <nav class="site-nav">
      <input class="site-nav__burger-checkbox _site-nav__burger-checkbox" type="checkbox" id="menu-toggle">
      <label class="site-nav__burger-trigger" for="menu-toggle"></label>
      <label class="site-nav__burger" for="menu-toggle"></label>
      <!-- <span class="site-nav__burger">Открыть меню</span> -->

      <ul class="site-nav__list _site-nav__list">
        <li class="site-nav__item"><a href="#company">О компании</a></li>
        <li class="site-nav__item"><a href="#products">Продукция</a></li>
        <li class="site-nav__item"><a href="#delivery">Доставка</a></li>
        <li class="site-nav__item"><a href="#advantages">Преимущества</a></li>
        <li class="site-nav__item"><a href="#promotions">Акции</a></li>
        <li class="site-nav__item"><a href="#contacts">Контакты</a></li>
      </ul>
    </nav>

    <nav class="user-nav">
      <ul class="user-nav__list">
        <li class="user-nav__item"><a href="tel:+74321123123">+7(4321) 123-123</a></li>
        <li class="user-nav__item"><a href="tel:+74321123123">+7(4321) 123-123</a></li>
      </ul>
      <button class="user-nav__button _user-nav__button">Заказать звонок</button>
    </nav>
  </div>
</header>
